body {
    background-color: #ffe2a3;
    font-family: 'NothingYouCouldDo';
}

nav {
    text-align: center;
    margin-top: -20px;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 54px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
}

p {
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    margin: 20px;
    width: 75%;
    margin: auto;
    margin-top: 0px;
}

ul {
    width: 75%;
    margin: 0 auto;
    padding: 0;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    font-size: 24px;
    line-height: 1.6;
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}