body {
    background-color: #ffe2a3;
    font-family: 'NothingYouCouldDo';
}

nav {
    text-align: center;
    margin-top: -20px;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 54px;
}

p {
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    margin: 20px;
    font-weight: 600;
    width: 75%;
    margin: auto;
    margin-top: 10px;
}